<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>marvelpy app</title>
<link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
<p>{{attributionHTML|safe}}</p>
<h1>{{eventResult.title}}</h1>

<div id="event-info">
    <img src="{{thumbnailUrl}}" />
    <p>{{eventResult.description}}</p>    
</div>

<h2>Comics</h2>
<ul id="comics">
    {%- for comic in comicsResult -%}
    <li>
    {{ comic.thumbnail|marvel_image|safe }}
    <span>{{ comic.title }}</span>
    </li>
    {%- endfor -%}
</ul>
</body>
</html>